@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
  background-color: #fefefe;
  color: rgb(0, 0, 0);
}


.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  color: white;
}

.coin.search {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:#060505
}

.coin-text {
  margin-bottom: 39px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #fbfbfc;
  color: #cc444b;
  font-weight: 700;
  margin-bottom: 20px;
}

.coin-input::placeholder {
  color: #060505;

}